@model AnalyticsModel

@if(Model == null){
	<div class="main">
	<div>Loading</div>
	</div>
}
@if (Model != null)
{
	<div class="main">
	@await Component.InvokeAsync("Header")
	<section class="content-cards display analytics">
		<div class="tickets dollar">
			<span class="ticket_figure"><i class="fa-solid fa-hand-holding-dollar"></i></span>
			<div class="ticket_header">
				<p>Carteira Total</p>
			</div>
			<span class="horizontal-line"></span>
			<div class="ticket_content">
				
				<p class="margin_right">R$</p>
				<p id="TotalPortfolio">@Model.TotalPortfolio.ToString("F2")</p>
			</div>
		</div>
		<div class="tickets people">
			<span class="ticket_figure"><i class="fa-solid fa-people-group"></i></span>
			<div class="ticket_header">
				<p>Clientes Ativos</p>
			</div>
			<span class="horizontal-line"></span>
			<div class="ticket_content">
				<p>@Model.TotalCustomer</p>
			</div>
		</div>
		<div class="tickets arrow">
			<span class="ticket_figure"><i class="fa-solid fa-arrow-trend-up"></i></span>
			<div class="ticket_header">
				<p>Ticket Médio</p>
			</div>
			<span class="horizontal-line"></span>
			<div class="ticket_content">
				<p>@Model.AverageTicket</p>
			</div>
		</div>
		<div class="tickets handshake">
			<span class="ticket_figure"><i class="fa-regular fa-handshake"></i></span>
			<div class="ticket_header">
				<p>Churns</p>
			</div>
			<span class="horizontal-line"></span>
			<div class="ticket_content">
				<p>@Model.Churns</p>
			</div>
		</div>

	</section>

	<!-- Graphics -->
	<section class="content_graphics-cards">
		<article class="tickets">
			<div class="content_graphics-content">
				<p>Reuniões da semana</p>
			</div>
			<div class="content_graphics-graphics">
				<input hidden id="meetings" value="@Model.Meeting.Meeting"/>				
				<canvas id="myChart"></canvas>
			</div>
		</article>
		<article class="tickets">
			<div class="content_graphics-content">
				<p>No Shows da semana</p>
			</div>
			<div class="content_graphics-graphics">
				<input hidden id="noShows" value="@Model.NoShows.NoShows" />
				<canvas id="myChart2"></canvas>
			</div>
		</article>
			<article class="tickets">
				<div class="content_graphics-content">
					<p>Reuniões mês</p>
				</div>
				<div class="content_graphics-graphics">
					<canvas id="myChart3"></canvas>
				</div>
			</article>
			<article class="tickets">
				<div class="content_graphics-content">
					<p>No Shows mês</p>
				</div>
				<div class="content_graphics-graphics">
					<canvas id="myChart4"></canvas>
				</div>
			</article>

	</section>
	
	
</div>
<footer class="footer">
	<p> &copy; <a href="#">U.Code</a> development</p>
	<p class="footer_link">Visite nosso site <a href="#">U.code</a> </p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/chart.js"></script>
}

