@model UDash.Models.ViewModels.ChangePasswordViewModel



<div class="main">

	@await Component.InvokeAsync("Header")

	<div class="form_container">
		@if (TempData["ErrorMessage"] != null)
		{
			<div id="alert">
				<div class="alert alert-danger" role="alert">
					@TempData["ErrorMessage"]
				</div>
			</div>

		}
		@if (TempData["SuccessMessage"] != null)
		{
			<div id="alert">
				<div class="alert alert-danger" role="alert">
					@TempData["SuccessMessage"]
				</div>
			</div>

		}
		<form asp-action="ChangePassword" asp-controller="User" method="post">
			<div class="form_container-row">
				<div class="form_container-lables">
					<label for="senhaAtual" class="">
						Senha atual:
					</label>
					<label for="novaSenha">
						Nova senha:
					</label>
					<label for="confirmarSenha">
						Confirmar nova senha:
					</label>
				</div>
				<div class="form_container-inputs">
					<input hidden asp-for="@Model.UserId" />
					<input type="password" id="senhaAtual" asp-for="@Model.OldPassword" />
					<input type="password" id="novaSenha" asp-for="@Model.NewPassword" />
					<input type="password" id="confirmarSenha" asp-for="@Model.ConfirmPassword" />
				</div>
			</div>
			<div class="form_container-buttons">
				<button type="submit" class="form_container-buttons_save" asp-controller="User" asp-action="ChangePassword">Salvar</button>
				<button asp-controller="Home" asp-action="Index" class="form_container-buttons_back">Voltar</button>
			</div>
		</form>
		
	</div>
	
</div>
<footer class="footer">
	<p> &copy; <a href="#">U.Code</a> development</p>
	<p class="footer_link">Visite nosso site <a href="#">U.code</a> </p>
</footer>
<script>


</script>